* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #d1e1e7;
}

/* Image */

.imagem-adaptavel {
  max-width: 100%;
  padding: 0%;
}

/* Container */

.top-bar-container {
  position: absolute;
  top: 0;
  left: 0;
}

.top-bar-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 15px;
}

.top-bar-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  /* background-color: aqua; */
  margin-bottom: 2%;
  padding: 1px 1px;
}

/* Button */

.text-box {
  display: inline-block;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  width: 100%;
  display:flex;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #c60b1e;
  color: #FFF;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Responsive */

@media screen and (max-width: 768px) {
  .imagem-adaptavel {
    max-width: 230%;
    position: fixed;
    bottom: 50;
    right: 50;
  }
}